<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
</head>
<body>
    <div class="error-container">
        <h1 class="t-404">404</h1>
        <p class="error1">OPPS ! PAGE NOT FOUND</p>
        <p class="error2">Sorry,the page you're looking for doesn't exist </p>
        <a class="return-btn" href="/">RETURN HOME</a>
    </div>
    {% if rem %}
    <script>
        localStorage.removeItem('alexzesidforschoolinyourpocket')
    </script>
    {% endif %}
</body>
</html>